[submodule "extern/betaflight"]
	path = extern/betaflight
	url = git@github.com:AJ92/betaflight.git
[submodule "extern/kissnet"]
	path = extern/kissnet
	url = https://github.com/timower/kissnet.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/mingw-std-threads"]
	path = extern/mingw-std-threads
	url = git@github.com:meganz/mingw-std-threads.git
