[submodule "extern/betaflight"]
	path = extern/betaflight
	url = https://github.com/betaflight/betaflight.git
[submodule "extern/kissnet"]
	path = extern/kissnet
	url = https://github.com/timower/kissnet.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
